<mat-card>
    <mat-card-title>{{title}} - construction Date: {{componentInstance?.constructionDateTime}}</mat-card-title>
    <mat-card-content>
      <ng-template #content></ng-template>
    </mat-card-content>
  </mat-card>