<div class="alert alert-warning">
  In this example we are relying in the *ngIf to avoid errors on the component renderization caused
  when the formGroup is not initialized yet.

  Of course it could be implemented using CanActivate Router Guard when using router.
  </div>
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Formulário</h3>
      </div>
      <div class="panel-body">
        <form *ngIf="formContribuinte" [formGroup]="formContribuinte" role="form" (submit)="submterContribuinte()">
          <legend>Contribuinte</legend>
          <div class="form-group">
            <label for="id">Identificador:</label>
            <input type="number" class="form-control" id="id" placeholder="Digite o identificador" formControlName="id">
          </div>
          <div class="form-group">
            <label for="ni">NI:</label>
            <input type="text" class="form-control" id="ni" placeholder="Digite o NI ( CPF ou CNPJ )" formControlName="ni">
          </div>
          <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" placeholder="Digite o Nome" formControlName="nome">
          </div>

          <div class="form-group">
            <label for="nome">Nacionalidade:</label>
            <input type="text" class="form-control" id="nome" placeholder="Digite a nacionalidade" formControlName="nacionalidade">
          </div>

           <div class="form-group">
            <label for="nome">Data Nascimento:</label>
            <input type="text" class="form-control" id="nome" placeholder="Digite a data de nascimento" formControlName="nascimento">
          </div>
          <button [disabled]="formContribuinte.invalid" type="submit" class="btn btn-primary">Salvar</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6 validation" *ngIf="formContribuinte">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Validation Status</h3>
      </div>
      <div class="panel-body">
        <h3>FORM</h3>
        <pre><pre *ngIf="formContribuinte.errors">{{formContribuinte.errors | json }}</pre></pre>
        <h3>ID</h3>
        <pre *ngIf="formContribuinte.controls['id'].errors">{{formContribuinte.controls['id'].errors | json }}</pre>
        <hr />
        <h3>NI</h3>
        <pre *ngIf="formContribuinte.controls['ni'].errors">{{formContribuinte.controls['ni'].errors | json }}</pre>
        <hr />
        <h3>Nome</h3>
        <pre *ngIf="formContribuinte.controls['nome'].errors">{{formContribuinte.controls['nome'].errors | json }}</pre>

        <h3>Nacionalidade</h3>
        <pre *ngIf="formContribuinte.controls['nacionalidade'].errors">{{formContribuinte.controls['nacionalidade'].errors | json }}</pre>

        <h3>Data de Nascimento</h3>
        <pre *ngIf="formContribuinte.controls['nascimento'].errors">{{formContribuinte.controls['nascimento'].errors | json }}</pre>
      </div>
    </div>
  </div>
