<doubleagent-navbar appTitle="Double Agent Validator ®">
  <ng-container ngProjectAs="menu">
      <a mat-list-item *ngFor="let item of menuFromRoutes" [routerLink]="item.path">{{item.title}}</a>
      <a mat-list-item [routerLink]="['/components', {id: 1}]">Test Link</a>
  </ng-container>
  <router-outlet></router-outlet>
</doubleagent-navbar>
