<mat-card>
  <mat-card-title>{{title}}</mat-card-title>
  <mat-card-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, earum perferendis explicabo eaque porro tempora tempore autem harum suscipit ad, aut, blanditiis praesentium laudantium aspernatur excepturi magnam. Assumenda, ipsum dolor!
  </mat-card-content>
</mat-card>